package views

import "go-htmx-sqlite/cmd/web/layouts"
import "go-htmx-sqlite/internal/types"

templ LandingView(data types.TemplateData) {
	@layouts.BaseLayout(data) {
		<section class="container mx-auto px-4">
			<div class="p-4 shadow-md rounded-lg mt-6">
				<h1>This is landing page</h1>
			</div>
		</section>
	}
}
