{{define "subject"}}Password reset{{end}} 
 
{{define "plainBody"}} 
Hi, 
 
Go to the below link to activate your account.

{{ .passwordResetLink }}
 
Thanks
{{end}} 
 
{{define "htmlBody"}} 
<!doctype html> 
<html> 
  <head> 
    <meta name="viewport" content="width=device-width" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  </head> 
  <body> 
    <p>Hi,</p> 
    <p>
        <a href="{{ .passwordResetLink }}">Click here</a> to activate your account.
    </p>
    <p>Thanks,</p> 
  </body> 
</html> 
{{end}}
