{{define "subject"}}Password reset confirmation{{end}} 
 
{{define "plainBody"}} 
Hi, 
 
Your password has been reset successfully.

Thanks
{{end}} 
 
{{define "htmlBody"}} 
<!doctype html> 
<html> 
  <head> 
    <meta name="viewport" content="width=device-width" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  </head> 
  <body> 
    <p>Hi,</p> 
    <p>
        Your password has been reset successfully.
    </p>
    <p>
        <a href="/login" class="button">Login here</a>
    </p>
    <p>Thanks,</p> 
  </body> 
</html> 
{{end}}
